h1,
h2,
p,
div {
  margin: 0;
}

header {
  background-color: #9bbede;
  color: #0f5499;
}
header h1 {
  text-align: center;
}
.title {
  height: 50px;
  background-color: #fff;
  box-shadow: 0 0 3px rgb(177, 175, 175);
  margin: 20px 10px;
}
h2 {
  /* padding: 10px 0; */
}
body {
  background-color: #e8f0fa;
  height: 800px;
}

dl,
dt,
dd {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
dt {
  float: left;
}
textarea {
  width: 500px;
  height: 100px;
}
.archives_container {
  background-color: #fff;
  margin: 10px;
  box-shadow: 0 0 3px rgb(177, 175, 175);
}
.thread_container {
  height: 120px;
  padding: 15px;
}
.message_container {
  background-color: #c3d2e3;
  padding: 20px 10px;
  height: 200px;
}
/* デフォルトの設定 */

.App {
  text-align: center;
  display: flex;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
