h1,
h2,
p,
div {
  margin: 0;
}

header {
  background-color: #9bbede;
  color: #0f5499;
}
header h1 {
  text-align: center;
}
.title {
  height: 50px;
  background-color: #fff;
  margin: 10px;
}
h2 {
  padding: 10px 0;
}
main {
  background-color: #cfdae6;
  height: 800px;
}

.archives_container {
  background-color: #fff;
  margin: 10px;
}
.thread_container {
  height: 200px;
  padding: 10px;
}
.message_container {
  background-color: #c3d2e3;
  height: 200px;
}
/* デフォルトの設定 */

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
